<!DOCTYPE html>
<html lang="en">

<%- include('header')%>

<body>

   <%- include('navbar') %>
    <!-- Content -->
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Webcro</h1>
            <p class="lead">This is the main page for Webcro operations.</p>
            <hr class="my-4">
            <p>Use the navbar to navigate to the admin page.</p>
            <a class="btn btn-primary btn-lg" href="/admin" role="button">Go to Admin</a>
            <p>Use the navbar to navigate to the RBC details page.</p>
            <a class="btn btn-primary btn-lg" href="/rbc/details" role="button">Go to RBC details</a>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"></script>
</body>

</html>
